@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', Verdana, sans-serif;
}

h1 {
    padding: .33em;
    color: #fff;
    background-color: limegreen;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

/*  */

form {
    border: 1px solid #000;
    padding: .75em .75em 0 .75em;
}

form > div {
    padding: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form > div:nth-child(odd) {
    background-color: #efefef;
}

form > div:nth-child(even) {
    background-color: #d9d8dc;
}

form > div:last-child {
    justify-content: center;
    padding: 1em 0;
    background-color: #fff;
}

form input[type="submit"], button {
    all: initial;
    background-color: limegreen;
    color: #eee;
    font-weight: bold;
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: .4em .8em;
    width: fit-content;
    height: 30px;
    border-radius: 30px;
}

form input[type="submit"]:hover, button:hover {
    background-color: lime;
    /* transform: rotate(360deg);
    transition: transform 60s linear; */
}

form input[type="submit"]:active, button:active {
    transform: scale(.85);
}

/*  */

.code {
    font-family: 'Lucida Console', monospace;
    background-color: #ddd;
}

.form-w-50 {width: 50%}
.form-w-66 {width: 66.66%}

.fade-out {
    animation: fade 10s ease-in forwards;
}

@keyframes fade {
    from {opacity: 1}
    to {opacity: 0}
}